# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# testing
.coverage
*.sh

# Distribution/packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store

# Project specific output files
*.png
*.txt
*.pdb
*.dcd
*.prmtop
*.pickle
*.log
